.profile_header_container {
  background-color: #323236;
  width: 90%;
  max-width: 1000px;
  min-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}

.status_wrapper {
  margin-top: 1rem;
  justify-content: space-around;
  text-align: left;
}

.status_wrapper > div {
  width: 45%;
}

.status_wrapper h3 {
  color: #fb923c;
  margin: 0.5rem 0 0.5rem 0;
}

.avg_score,
.last_played {
  background-color: #27272a;
  padding: 1rem;
  border-radius: 1rem;
}

.quotes_container.qc_in_profile {
  max-height: none;
  overflow-y: unset;
}

.head_line {
  text-align: center;
  margin: 0.5rem 1rem;
}

.record_container {
  margin-bottom: 2rem;
}

.comment_area {
  margin: 1rem auto;
}

.user_profile_link {
  margin: 2px 5px;
  font-weight: bold;
}

.each_comments {
  padding: 2px 3px;
}

.comment_input {
  width: 100%;
}

.comment_content {
  padding: 0.5rem 1rem;
}

.edit_btn {
  margin: 5px 5px;
}

.comment_area.in_profile {
  width: 100%;
}
