.red {
  color: red;
}

.green {
  color: green;
}

.grey {
  color: #afafaf;
}

@keyframes flash {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.caret {
  animation-name: flash; /* cooperate with @keyframes */
  animation-iteration-count: infinite;
  animation-duration: 1s;
  transition: 0.12s;
  border-left: 2px solid white;
}

.caret {
  position: absolute;
  display: inline;
}
