.red {
  background-color: crimson;
}

.green {
  color: #0bb981;
}

.grey {
  color: #afafaf;
}

/* display caret and make it flash */
@keyframes flash {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.caret {
  animation-name: flash; /* cooperate with @keyframes */
  animation-iteration-count: infinite;
  animation-duration: 1s;
  transition: 0.12s;
  border-left: 1px solid white;
}

.caret {
  position: absolute;
  display: inline;
}

.score_in_game {
  font-weight: normal;
}
/* 
.typing_container {
  position: relative;
} */

.text_container {
  margin: 1rem auto;
  border: 1px solid white;
  padding: 1rem 0.5rem;
  word-spacing: 2px;
  font-size: large;
  position: relative;
}

.text_container:focus {
  outline: 1.5px solid coral;
  background-color: rgba(185, 176, 176, 0.089);
}

.game_score_container {
  gap: 5rem;
}

.positive,
.negative {
  font-size: smaller;
  margin-left: 1rem;
}

.positive {
  color: #b7ff26;
}

.negative {
  color: crimson;
}

.no_hover:hover {
  background-color: rgba(239, 239, 239, 0.3);
  color: #474748;
  cursor: not-allowed;
}
