/* TODO Add site wide styles */
/* reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
}

main {
  display: block;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

textarea {
  overflow: auto;
  resize: none;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*------------ custom classes -------------*/
.container_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
