/* TODO Add site wide styles */
/* reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
}

main {
  display: block;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button {
  cursor: pointer;
}

input,
select,
textarea {
  color: white;
}

textarea {
  overflow: auto;
  resize: none;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

/*------------ custom classes -------------*/
html {
  background: linear-gradient(
    45deg,
    rgba(26, 25, 28, 1) 0%,
    rgba(37, 37, 38, 1) 50%,
    #1e1c1e 100%
  );
  color: white;
}

.auth_container_center {
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 3em auto;
  padding: 2em;
  border-radius: 1em;
}

.light_gray {
  background-color: #49494d;
}

.dark_gray {
  background-color: #2b2b2e;
}

input,
textarea,
select {
  background-color: #27272a;
}

.errors {
  color: red;
}

nav {
  position: sticky;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 10px;
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container_row {
  display: flex;
}

.container_col {
  display: flex;
  flex-direction: column;
}

nav .container_row {
  align-items: center;
  gap: 1em;
}

.quotes_container {
  background-color: #323236;
  width: 80%;
  max-width: 700px;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 1rem;
  gap: 2rem;
  max-height: 85vh;
  overflow-y: scroll;
}

.quotes_container::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
  height: 90%;
}

.quotes_container::-webkit-scrollbar-thumb {
  background-color: grey;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 20px;
}

.quote_card {
  justify-content: space-between;
}

.record_list {
  gap: 10px;
}

.wpm,
.acc,
.dur {
  font-weight: 300;
}

.wpm {
  color: #0bb981;
}

.acc {
  color: #2a82e6;
}

.dur {
  color: #f59e07;
}

button {
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
}

.btn_container {
  align-self: center;
  gap: 10px;
}

.play_btn {
  width: 10rem;
  color: black;
  color: orangered;
  font-weight: bold;
}

.play_btn:hover {
  background-color: #f59e07;
  color: white;
  transition: 0.5s;
}

.delete_btn:hover {
  background-color: firebrick;
  color: white;
  transition: 0.5s;
}
